$font-primary: "sans-serif";

$color-primary: #d60000;
$color-secondary: #4B4747;
$color-tertiary: 	green;
$color-accent: 	lightblue;
$color-white: #fafafa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}