.input-names {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;

  &_heading {
    font-size: 1.5rem;
  }

  &_start-button {
    height: 2.5rem;
    width: 4rem;
    padding: 0.5rem;
    text-align: center;
    font-family: $font-primary;
    background-color: $color-accent;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    border: 2px solid $color-secondary;
  }
}

.score-count {
  margin: 2rem auto;
  width: 35rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &_section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 25%;

    &_heading {
      text-align: center;
      font-family: $font-primary;
      font-size: 1.5rem;
      padding: 0.5rem;
    }

    &_score {
      height: 2.5rem;
      text-align: center;
      font-family: $font-primary;
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 500px) {
    width: 25rem;
  }
}

.container {
  margin: 3rem auto;
  width: 35rem;
  height: 35rem;
  border: 2px solid $color-secondary;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  &_button {
    font-size: 6rem;
    border: 2px solid $color-secondary;
    margin: 0;

    @media screen and (max-width: 500px) {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 500px) {
    width: 25rem;
    height: 25rem;
  }
}

.game-state {
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;

  &_button {
    height: 3rem;
    padding: 0.5rem;
    text-align: center;
    font-family: $font-primary;
    font-size: 1.5rem;
  }
}



