.score-count {
  margin: 2rem auto;
  height: 8rem;
  width: 45rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &_section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 30%;

    &_heading {
      text-align: center;
      font-family: $font-primary;
      font-size: 1.5rem;
      color: $color-secondary;
    }

    &_score {
      height: 3rem;
      text-align: center;
      font-family: $font-primary;
      font-size: 1.5rem;
      color: $color-secondary;
    }
  }
}

.container {
  margin: 3rem auto;
  // width: 800px;
  // height: 800px;
  width: 45rem;
  height: 45rem;
  border: 2px solid $color-secondary;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  &_button {
    //  width: 15rem;
    //  height: 15rem;
    font-size: 8rem;
    //  font-size: 100px;
    border: 2px solid $color-secondary;
    margin: 0;
  }
}

.container_button--winner {
  background-color: green;
}

.next-game-button {
  display: block;
  margin: 3rem auto;
  padding: 0.5rem;
  height: 5rem;
  width: 16rem;
  border-radius: 0.5rem;
  background-color: lightblue;
  font-family: $font-primary;
  font-size: 3rem;
}

.next-game-button--disappear {
  display: none;
}
