* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input-names {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
}
.input-names_heading {
  font-size: 1.5rem;
}
.input-names_start-button {
  height: 2.5rem;
  width: 4rem;
  padding: 0.5rem;
  text-align: center;
  font-family: "sans-serif";
  background-color: lightblue;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  border: 2px solid #4B4747;
}

.back-to-input-page {
  margin: 0.5rem 0.5rem;
  height: 2.5rem;
  width: 4rem;
  padding: 0.5rem;
  text-align: center;
  font-family: "sans-serif";
  background-color: lightblue;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  border: 2px solid #4B4747;
}

.score-count {
  margin: 2rem auto;
  height: 5rem;
  width: 35rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.score-count_section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 25%;
}
.score-count_section_heading {
  text-align: center;
  font-family: "sans-serif";
  font-size: 1.5rem;
  padding: 0.5rem;
}
.score-count_section_score {
  height: 3rem;
  text-align: center;
  font-family: "sans-serif";
  font-size: 1.5rem;
}

.container {
  margin: 3rem auto;
  width: 35rem;
  height: 35rem;
  border: 2px solid #4B4747;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.container_button {
  font-size: 6rem;
  border: 2px solid #4B4747;
  margin: 0;
}

.game-state {
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
}
.game-state_button {
  height: 3rem;
  padding: 0.5rem;
  text-align: center;
  font-family: "sans-serif";
  font-size: 1.5rem;
}

.container_button--winner {
  background-color: green;
}

.next-game-button {
  display: block;
  margin: 3rem auto;
  padding: 0.5rem;
  height: 3.5rem;
  width: 12rem;
  border-radius: 0.5rem;
  background-color: lightblue;
  font-family: "sans-serif";
  font-size: 2rem;
}

.next-game-button--disappear {
  display: none;
}

.game-outcome-message {
  display: block;
  margin: 3rem auto;
  padding: 0.5rem;
  width: 20rem;
  border-radius: 0.5rem;
  border: 2px solid #d60000;
  color: #d60000;
  font-family: "sans-serif";
  font-size: 2rem;
  text-align: center;
}

.game-outcome-message--disappear {
  display: none;
}

.input-names--disappear {
  display: none;
}

.main-game--disappear {
  display: none;
}