* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 10rem auto;
  width: 45rem;
  height: 40rem;
  border: 2px solid green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}