* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.score-count {
  margin: 2rem auto;
  height: 8rem;
  width: 45rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.score-count_section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 30%;
}
.score-count_section_heading {
  text-align: center;
  font-family: "sans-serif";
  font-size: 1.5rem;
  color: #4B4747;
}
.score-count_section_score {
  height: 3rem;
  text-align: center;
  font-family: "sans-serif";
  font-size: 1.5rem;
  color: #4B4747;
}

.container {
  margin: 3rem auto;
  width: 45rem;
  height: 45rem;
  border: 2px solid #4B4747;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.container_button {
  font-size: 8rem;
  border: 2px solid #4B4747;
  margin: 0;
}

.container_button--winner {
  background-color: green;
}

.next-game-button {
  display: block;
  margin: 3rem auto;
  padding: 0.5rem;
  height: 5rem;
  width: 16rem;
  border-radius: 0.5rem;
  background-color: lightblue;
  font-family: "sans-serif";
  font-size: 3rem;
}

.next-game-button--disappear {
  display: none;
}